
#A {
	background-color: rgb(255, 230, 230);
}

#B {
	background-color: rgb(230, 255, 230);
}

#C {
	background-color: rgb(230, 230, 255);
}

#D {
	background-color: rgb(255, 250, 230);
}

#E {
	background-color: rgb(230, 230, 230);
}

.modelo {
	border: 1px dotted gray;
	margin: 0;
	padding: 0;
}

body {
	width: 1024px;
	margin: auto;
}